#sikah{
    background-color: rgb(147, 52, 52);
}

.gambar {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    border-color: aquamarine;
    border-radius: 0cqh;
    background-position: center center;
}